<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-br from-indigo-100 to-purple-100 min-h-screen">
    <main class="container mx-auto py-28 px-5 flex">
      <%= yield %>
    </main>
  </body>

  <script>
    document.addEventListener("htmx:configRequest", function(event) {
      event.detail.headers["X-CSRF-Token"] = document.querySelector("meta[name='csrf-token']").content;
    });
  </script>
</html>
